In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from datetime import timedelta
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = pd.read_csv("C:\\Users\\admin\\Downloads\\Resources-NYC_Taxi_Trip_Project\\nyc_taxi_trip_duration.csv")

In [11]:
np.sum(pd.isnull(df))

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [13]:
from sklearn.utils import shuffle
df = shuffle(df, random_state = 42)
div = int(df.shape[0]/4)
train = df.loc[:3*div+1,:]
test = df.loc[3*div+1:]

In [14]:
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
247177,id3976278,2,2016-06-19 16:21:27,2016-06-19 16:46:41,1,-73.992981,40.737129,-73.981178,40.781891,N,1514
41189,id2473215,1,2016-02-29 11:57:45,2016-02-29 12:19:57,1,-73.962509,40.773117,-73.979301,40.755665,N,1332
441690,id0590634,1,2016-04-30 13:11:18,2016-04-30 13:41:58,1,-73.999649,40.718616,-73.982681,40.774021,N,1840
246922,id3283815,2,2016-02-19 17:55:52,2016-02-19 18:12:59,2,-73.972954,40.756306,-73.949081,40.775032,N,1027
202073,id1169208,1,2016-03-05 21:42:25,2016-03-05 21:47:20,2,-74.003334,40.743763,-74.004105,40.751137,N,295

In [15]:
test.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
546991,id2240736,1,2016-05-25 07:59:16,2016-05-25 08:05:02,1,-73.991364,40.732590,-74.000526,40.742283,N,346
115009,id1841888,1,2016-05-23 19:37:20,2016-05-23 19:54:03,1,-73.966866,40.761665,-74.014481,40.708088,N,1003
127693,id0506034,2,2016-05-01 20:59:07,2016-05-01 21:11:48,1,-73.991577,40.770470,-74.000137,40.730358,N,761
204591,id1285927,2,2016-04-04 20:14:19,2016-04-04 20:36:12,2,-73.874580,40.774097,-73.960419,40.762299,N,1313
94205,id0376971,2,2016-05-05 22:19:38,2016-05-05 22:33:07,1,-73.994789,40.750259,-73.999840,40.727032,N,809

# Mean Squared Error for General Observation

In [26]:
test["average_time"] = train["trip_duration"].mean()

In [27]:
from sklearn.metrics import mean_absolute_error as mae
simple_mean_error = mae(test["trip_duration"], test["average_time"])
simple_mean_error

619.4520842102883

# Mean Squared Error w.r.t Passenger Count

In [28]:
mean_passengers = pd.pivot_table(train, values = "trip_duration", index = ["passenger_count"], aggfunc = np.mean)
test["passenger_mean"] = 0
for i in train["passenger_count"].unique():
    test["passenger_mean"][test["passenger_count"] == str(i)] = train["trip_duration"][train["passenger_count"] == str(i)].mean()

In [34]:
mean_passenger_error = mae(test["trip_duration"], test["passenger_mean"])
mean_passenger_error

950.7869057538169

# Mean Squared Error w.r.t Vendor Id

In [30]:
mean_vendor = pd.pivot_table(train, values = "trip_duration", index = ["vendor_id"], aggfunc = np.mean)
test["vendor_mean"] = 0
for i in train["vendor_id"].unique():
    test["vendor_mean"][test["vendor_id"] == str(i)] = train["trip_duration"][train["vendor_id"] == str(i)].mean()

In [31]:
vendor_mean_error = mae(test["trip_duration"], test["vendor_mean"])
vendor_mean_error

950.7869057538169